


body
{
background: peachpuff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;


}

.BOX
{

max-width: 1000px;
min-height: 1000px;
background: #fff;
margin: 50px;
grid-template-columns: 1fr 2fr;
box-shadow: 0 35px 55px black;
display: grid;


}

.BOX .cotegauche

{
    position: relative;
    background: rosybrown;
    padding: 20px;
    
    
} 
.BOX .cotedroit

{
    background: bisque;
    
        
} 
    

 .profileText

{
   border-bottom: 1PX solid peachpuff;;
   color: #fff;     
} 
 
   
 .contactInfo

{ padding-top: 40px;
 
  
} 
.title

{ text-transform: uppercase;
  letter-spacing: 1px;
  
} 





 
